.faqItem {
  border: 1px solid #d7dae6;
  width: 80%;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.question {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
  color: #52606d;
}
.imgcss {
  width: 20px;
  height: 20px;
}
.questionContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.buttoncss {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border: 0px;
}
.answerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.linecss {
  border: 1.5px solid #e4e7eb;
  width: 75%;
}
.answercss {
  font-family: 'Roboto';
  font-size: 12px;
  color: #9aa5b1;
  align-self: flex-start;
}
